.menu__card {
    background-color: #a5eea0;
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.87em;
    align-items: center;
    gap: 1em;
    width: 346px;
    height: 250px;
    text-align: center;
    border-radius: 0.35em;
    box-shadow: 0 2px 14px rgba(216, 217, 255, 0.66);
    cursor: pointer;
  }
  .menu__card i {
    background: linear-gradient(180deg, #77dd77 21.85%, #a5eea0 104.32%);
    width: 74px;
    height: 74px;
    color: #a5eea0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    border-radius: 0.175em;
  }
  .menu__card h3 {
    color: #2a2b3d;
    font-size: 1.6em;
  }
  .menu__card p {
    font-weight: 300;
  }
  @media (max-width: 992px) {
    .menu__card {
      width: 300px;
      height: 296px;
    }
  }
  @media (max-width: 768px) {
    .menu__card {
      margin: auto;
      height: 286px;
      width: 80%;
    }
  }
  @media (max-width: 575px) {
    .menu__card {
      margin: auto;
      width: 100%;
      height: 279px;
    }
  }
  .menu__card:hover {
    background: linear-gradient(180deg, #77dd77 21.85%, #a5eea0 104.32%);
  }
  .menu__card:hover i {
    background: #a5eea0;
    color: #77dd77;
  }
  .menu__card:hover h3,
  .menu__card:hover p {
    color: #a5eea0;
  }


.home__hero {
    padding-top: 50px;
  }
  .home__hero .container {
    width: 100%;
    display: flex;
    padding: 100px 0px;
    max-width: 1110px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  @media (max-width: 1200px) {
    .home__hero .container {
      max-width: 1110px;
      padding: 100px 40px;
    }
  }
  @media (max-width: 992px) {
    .home__hero .container {
      max-width: 1110px;
      padding: 100px 40px;
    }
  }
  @media (max-width: 768px) {
    .home__hero .container {
      max-width: 1110px;
      padding: 100px 20px;
    }
  }
  .home__hero .container h2 {
    font-size: 2em;
    color: #2a2b3d;
    font-weight: 900;
    text-align: center;
  }
  .home__hero .container .productos__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2em;
    padding-top: 1em;
  }
  .home__hero .container .productos__container .producto__card {
    width: 100%;
    max-width: 250px;
    max-height: 400px;
    background-color: #a5eea0;
    border-radius: 0.35em;
    box-shadow: 0 2px 14px rgba(216, 217, 255, 0.66);
    padding: 2em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  .home__hero .container .productos__container .producto__card h3 {
    font-size: 1em;
  }
  .home__hero .container .productos__container .producto__card div {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .home__hero .container .productos__container .producto__card div p {
    font-size: 1.1em;
  }
  .home__hero .container .productos__container .producto__card img {
    margin: auto;
    width: 100%;
    max-width: 70%;
    object-fit: contain;
  }
  
  .categorias {
    margin: 0 13%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 0.5em 1em;
  }
  .categorias a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a5eea0;
    font-size: 5em;
    font-weight: 700;
    border-radius: 0.35em;
    gap: 0;
    border: 1px solid rgb(238, 238, 238);
    padding: 0.25em 1em;
  }
  .categorias a:hover {
    gap: 0.5em;
    border-color: #a5eea0;
  }

  .accionseccion4 {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 150px;
    padding: 0 29px 10px;
    background-color: #77dd77;
max-width: 900px;
margin: 1em;

.buttonaccion {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 150px;
  padding: 0 29px 10px;
  background-color: #77dd77;
max-width: 900px;
margin: 1em;

}
}

.containerprincipal {

  .total{
font-size: 30px;
font-weight: 500;
color: red;

  }
}
