.nav {
    position: absolute;
    background-color: rgb(81, 230, 232);
    top: 90px;
    width: 100%;
    height: 0;
    right: 0;
    visibility: hidden;
    transition: all 0.7s ease-in-out;
    overflow: hidden;
  }
  .nav.active {
    visibility: visible;
    height: 100vh;
  }
  .nav__list {
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
  
  }

  .btn-primary {
    background: linear-gradient(90deg, rgb(19, 138, 96) 0%, rgb(23, 213, 168) 100%);
    background-size: 110%;
    color: #a5eea0;
    font-size: 14px;
    line-height: 1em;
    padding: 1em 2em;
    border-radius: 0.35em;
    font-weight: 900;
    text-transform: uppercase;
  }
  .btn-primary:hover {
    background-position: 200px 100px;
  }
  
  .btn-secondary {
    color: #0db146;
    font-size: 14px;
    line-height: 1em;
    padding: 1em 2em;
    border-radius: 0.35em;
    font-weight: 900;
    border: 1px solid #0db146;
    text-transform: uppercase;
  }
  .btn-secondary:hover {
    background: linear-gradient(90deg, rgb(19, 138, 96) 0%, rgb(23, 213, 168) 100%);
    color: #a5eea0;
    font-size: 14px;
    line-height: 1em;
    padding: 1em 2em;
    border-radius: 0.35em;
    font-weight: 900;
    text-transform: uppercase;
  }

  .bars__menu {
display: flex;
justify-content: flex-end;
  
  .bars__menu .bx {
    color: #2a2b3d;
    font-size: 40px;
  }
  .bars__menu .bx:hover {
    cursor: pointer;
  }
  }


  .header {
    background-color: #a5eea0;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.1);
  }
  .header .container {
    width: 100%;
    display: flex;
    padding: 20px 0px;
    max-width: 1110px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 1200px) {
    .header .container {
      max-width: 1110px;
      padding: 20px 40px;
    }

  }
  @media (max-width: 992px) {
    .header .container {
      max-width: 1110px;
      padding: 20px 40px;
    }
  }
  @media (max-width: 768px) {
    .header .container {
      max-width: 1110px;
      padding: 20px 20px;
    }
  }
  .header .container a {
    display: flex;
    gap: 1em;
    align-items: center;
    color: #2a2b3d;
    text-transform: lowercase;
  }
  .header .container a h1 {
    font-size: 1.5em;
  }
  .header .container a img {
    width: 50px;
  }
  
  .nav {
   background-color: #b3f3ac !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  nav ul li {
    margin: auto;
    background-color: #a5eea0;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    width: 90%;
    padding: 1em;
    font-size: 1em;
    color: #2a2b3d;
    box-shadow: 0 2px 14px rgb(50, 217, 156);
  }
  nav ul li div {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  nav ul li img {
    width: 40px;
  }
  nav ul li .bx {
    justify-self: end;
    font-size: 24px;
    color: rgb(30, 202, 221);
    cursor: pointer;
  }
  nav a {
    color: #a5eea0 !important;
    margin-top: 2em;
    font-size: 1em !important;
  }
  nav #total {
    margin-top: 1em;
    font-size: 1.2em;
    color: #2a2b3d;
    font-weight: bold;
    background-color: #0db146;
  }
  
  #btn-finalizar {
    display: none;
  }
  
  .accionseccion4 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    height: 300px;
    padding: 0 29px 10px;
    background-color: #77dd77 !important;
max-width: 500px;
margin: 1em;
  

.buttonaccion {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 150px;
  padding: 0 29px 10px;
max-width: 500px;
margin: 1em;

}
  }